#!/bin/bash

#### Django secret key ####
SECRET_KEY=SECRET_KEY

#### Django debug mode default True ####
DEBUG=True

#### Django allowed hosts default localhost, 127.0.0.1 ####
ALLOWED_HOSTS=localhost,127.0.0.1

# Django mode development or production
DJANGO_SETTINGS_MODULE=core.settings.development # default

#### JWT (RS256) private, public keys default ####
PRIVATE_KEY_PATH=security/private_key.pem
PUBLIC_KEY_PATH=security/public_key.pem

#### Django database environs sqlite3, postgres, mysql ####
DATABASE_ENVIRON=sqlite3

#### PostgreSQL configurations ####
DATABASE_NAME=POSTGRES_NAME
DATABASE_USER=POSTGRES_USER
DATABASE_PASSWORD=POSTGRES_PASSWORD
DATABASE_HOST=localhost
DATABASE_PORT=5432


#### Django Admin param ####
ADMIN_USERNAME=admin
ADMIN_PASSWORD=password
ADMIN_EMAIL=admin@example.com