asgiref==3.8.1
cffi==1.17.1
cryptography==43.0.3
Django==5.1.1
django-appconf==1.0.6
django_sitemaps==2.0.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
gunicorn==23.0.0
latex2mathml==3.77.0
lxml==5.3.0
markdown2==2.5.1
packaging==24.2
pillow==10.4.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
pycparser==2.22
Pygments==2.18.0
PyJWT==2.9.0
python-dotenv==1.0.1
PyYAML==6.0.2
six==1.16.0
sqlparse==0.5.1
svgwrite==1.4.3
tzdata==2024.2
wavedrom==2.0.3.post3
