
<main role="main" class="container" id="main-content">
  <div class="row">
    <div class="col-md-8">
        {% for massage in massages %}
          <div class="alert alert-{{ message.tags }}">
            <h6>{{ massage }}</h6>
          </div>
        {% endfor %}
        
        
        {% for post in page_obj.object_list %}
        <div class="col-md-12">
          
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              
              <div class="d-flex">
                <strong class="d-inline-block mb-2">
                  <a 
                  href="{% url 'users:user_profile' post.author.username %}" 
                  hx-get="{% url 'users:user_profile' post.author.username %}" 
                  hx-push-url="true"
                  hx-target="#main-content"
                  class="nav-link">
                    <img src="{{ post.get_author_avatar_url }}" style="border-radius: 30%;" width="30px" height="30px" alt="author logo">
                    {{ post.author }}
                  </a>
                </strong>
                <!-- <strong class="d-inline-block mb-2 col text-primary"><i class="bi bi-watch">{{ post.watching }}</i></strong>
                <strong class="d-inline-block mb-2 col text-primary"><i class="bi bi-star">{{ post.like_count }}</i></strong>
                <strong class="d-inline-block mb-2 col text-primary"><i class="bi bi-chat">{{ post.comment_count }}</i></strong> -->
              </div>
              <h3 class="mb-0">{{ post.title }}</h3>
              <div class="mb-1 text-muted">{{ post.publisher_at }}</div>
              <p class="card-text mb-auto">{{ post.description|truncatewords_html:30 }}</p>
              <a 
              href="{{ post.get_absolute_url }}" 
              hx-get="{{ post.get_absolute_url }}" 
              hx-push-url="true"
              hx-target="#main-content"
              class="stretched-link">Continue reading</a>
              <div class="d-flex">
                <strong class="d-inline-block mb-2 col text-primary"><i class="bi bi-eye">{{ post.watching }}</i></strong>
                <strong class="d-inline-block mb-2 col text-primary"><i class="bi bi-star">{{ post.like_count }}</i></strong>
                <strong class="d-inline-block mb-2 col text-primary"><i class="bi bi-chat">{{ post.comment_count }}</i></strong>
            </div>
            </div>
          </div>
        </div>
        {% empty %}
        <div align="center">
          <h3>Post not found</h3>
        </div>

        {% endfor %}
    </div>
    {% include 'components/latest_posts.html' %}
  </div>
  {% include 'components/paginators.html' %}
</main>
