{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
<main role="main" class="container" id="main-content">
  <div class="row">
    <div class="col-md-8">
        {% for massage in massages %}
          <div class="alert alert-{{ message.tags }}">
            <h6>{{ massage }}</h6>
          </div>
        {% endfor %}

        {% for post in page_obj.object_list %}
        <div class="col-md-12">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              {% if post.is_active %}
              <strong class="d-inline-block mb-2 text-success">Design</strong>
              {% else %}
              <strong class="d-inline-block mb-2 text-primary">World</strong>
              {% endif %}
              <h3 class="mb-0">{{ post.title }}</h3>
              <div class="mb-1 text-muted">{{ post.publisher_at }}</div>
              <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              <a href="{{ post.get_absolute_url }}" class="stretched-link">Continue reading</a>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
    {% include 'components/latest_posts.html' %}
  </div>
  {% include 'components/paginators.html' %}
</main>
{% endblock %}