{% extends 'base.html' %}
{% load static %}

{% block title %} Post Confirm Delete {% endblock %}

{% block content %}
<main role="main" class="container">
    <div class="row">
    <div class="col-md-8">
            <div class="content-section">
                <form method="POST" action="{% url 'blog:post_delete' post.slug %}">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4"><h4><b>You are deleted post:</b></h4></legend>
                        <h4>"{{ post.title }}" ?</h4>
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                        <a class="btn btn-outline-secondary" href="{{ post.get_absolute_url }}#content">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
        {% include 'components/latest_posts.html' %}
        </div>
        </main>
{% endblock %}
            
            
