{% extends 'base.html' %}
{% load static blog_tags %}

{% block title %} Post Detail {% endblock %}

{% block content %}
<main role="main" class="container">
  <div class="row">
    <div class="col-md-8">
      <article class="blog-post">
        <h2 class="blog-post-title">{{ post.title }}</h2>
        <p class="blog-post-meta">{{ post.publisher_at }}by <a href="#">{{ post.author }}</a></p>

        <p>{{ post.content|markdown }}</p>

      </article>
      <div class="d-flex mt-3 mb-3">

        <div class="col-md-2">
          <a href="#" class="nav-link text-dark">
            <i class="bi bi-chat-left-text">({{ post.comment_count }})</i>
          </a>
        </div>
        <div class="col-md-2">
          <a href="{% url 'post_like' post.slug %}" class="nav-link text-dark">
            {% if request.user.is_authenticated %}
              {% if post|check_like:request.user %}
                <i class="bi bi-star-fill">({{ post.like_count }})</i>
              {% else %}
                <i class="bi bi-star">({{ post.like_count }})</i>
              {% endif %}
            {% else %}
                <i class="bi bi-star">({{ post.like_count }})</i>
            {% endif %}
          </a>
        </div>
        <div class="col-md-2">
          <a href="{% url 'post_dislike' post.slug %}" class="nav-link text-dark">
            {% if request.user.is_authenticated %}
              {% if post|check_dislike:request.user %}
                <i class="bi bi-emoji-frown-fill">({{ post.dislike_count }})</i>
              {% else %}
                <i class="bi bi-emoji-frown">({{ post.dislike_count }})</i>
              {% endif %}
            {% else %}
              <i class="bi bi-emoji-frown">({{ post.dislike_count }})</i>
            {% endif %}
          </a>
        </div>
      </div>
      {% if request.user == post.author %}
      <nav class="blog-pagination mt-3 mb-3" aria-label="Pagination">
        <a class="btn btn-outline-danger" href="{% url 'post_delete' post.slug %}">delete</a>
        <a class="btn btn-outline-warning" href="{% url 'post_update' post.slug %}">update</a>
      </nav>
      {% endif %}
      <form action="" method="post" class="mt-3 mb-3">
        {% csrf_token %}
        <div class="d-flex">
          <input type="text" class="form-control" placeholder="message..." required="">
          <button class="btn btn-outline-success">Send</button>
        </div>
      </form>
    </div>
    {% include 'components/latest_posts.html' %}
  </div>
</main>
{% endblock %}