{% extends 'base.html' %}
{% load static %}

{% block title %} Profile {% endblock %}

{% block content %}
<main role="main" class="container">
    <div class="row">
        <!-- Content -->
        <div class="col-md-4">
            <div class="content-section">
                <center>
                    <img src="{{ user.get_user_avatar_url }}" class="img-fluid"
                        style="border-radius: 50%; width: 200px; height: 200px;" alt="">
                    <h3>
                        {% if user.first_name %}
                        {{ user.first_name }}
                        {% elif user.last_name %}
                        {{ user.last_name }}
                        {% else %}
                        {{ user.username }}
                        {% endif %}
                    </h3>
                    <p class='text-muted'>
                        {{ user.get_user_bio }}
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light">Latest Posts</li>
                        <li class="list-group-item list-group-item-light">Announcements</li>
                        <li class="list-group-item list-group-item-light">Calendars</li>
                        <li class="list-group-item list-group-item-light">etc</li>
                    </ul>
                    </p>
                </center>
            </div>
        </div>
        <div class="col-md-8">
            <!--  -->
            <div class="d-flex">

                {% if request.user == user %}
                <div class="col">
                    <a href="{% url 'blog:post_create' %}" class="btn btn-outline-secondary">Create New Post</a>
                </div>
                {% endif %}
                <div class="col">
                    <form action="{% url 'users:user_profile' user.username %}">
                        <div class="d-flex">
                            <input class="form-control" type="text" name="search_query_for_user_profile"
                                placeholder="Search" aria-label="Search">
                            <button type="submit" class="btn btn-success ms-2"><i class="bi bi-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>

            {% for post in posts %}
            <div class="col-md-12 mt-3 mb-3">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <div class="d-flex">
                            <strong class="d-inline-block mb-2 col text-primary"><i class="bi bi-eye">{{ post.watching }}</i></strong>
                            <strong class="d-inline-block mb-2 col text-primary"><i class="bi bi-star">{{ post.like_count }}</i></strong>
                            <strong class="d-inline-block mb-2 col text-primary"><i class="bi bi-chat">{{ post.comment_count }}</i></strong>
                        </div>

                        <h3 class="mb-0">{{ post.title }}</h3>
                        <div class="mb-1 text-muted">{{ post.publisher_at }}</div>
                        <p class="card-text mb-auto">This is a wider card with supporting text below as a natural
                            lead-in to additional content.</p>
                        <a href="{{ post.get_absolute_url }}" class="stretched-link">Continue reading</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <center>
                Now posts
            </center>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}