{% extends 'base.html' %}
{% load static %}
{% block title %} User posts {% endblock %}

{% block content %}
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
              <!-- {% for message in massages %}
              <div class="alert alert-{{ message.tags }}">
                <h6>{{ message }}</h6>
              </div>
              {% endfor %} -->
            <div class="d-flex">

              <div class="col">
                <a href="{% url 'blog:post_create' %}" class="btn btn-outline-secondary">Create New Post</a>
              </div>
              <div class="col">
                <form action="{% url 'blog:user_posts' %}">
                  <div class="d-flex">
                    <input class="form-control" type="text" name="search_query_for_user_posts" placeholder="Search" aria-label="Search">
                    <button type="submit" class="btn btn-success ms-2"><i class="bi bi-search"></i></button>
                  </div>
                </form>
              </div>
            </div>
        
            {% for post in posts %}
            <div class="col-md-12 mt-3 mb-3">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  {% if post.status == 'pb' %}
                  <strong class="d-inline-block mb-2 text-success">Published</strong>
                  {% elif post.status == 'df' %}
                  <strong class="d-inline-block mb-2 text-primary">Draft</strong>
                  {% endif %}
                  <h3 class="mb-0">{{ post.title }}</h3>
                  <div class="mb-1 text-muted">{{ post.publisher_at }}</div>
                  <p class="card-text mb-auto">{{ post.description|truncatewords_html:30 }}</p>
                  <a href="{{ post.get_absolute_url }}" class="stretched-link">Continue reading</a>
                </div>
              </div>
            </div>
            {% empty %}
            <center><div class="p-4">Now posts</div></center>
            {% endfor %}
          </div>
         {% include 'components/latest_posts.html' %}
      </div>
      </main>
{% endblock %}