{% if page_obj %}
<div class="d-flex align-items-center justify-content-between">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <!-- Кнопка "Назад" -->
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a 
                class="page-link" 
                href="{% url 'blog:home' %}?page={{ page_obj.previous_page_number }}&size={{ size_value }}" 
                hx-get="{% url 'blog:home' %}?page={{ page_obj.previous_page_number }}&size={{ size_value }}" 
                hx-push-url="true"
                hx-target="#main-content"
                aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">&laquo;</span>
            </li>
            {% endif %}

            <!-- Ссылки на страницы -->
            {% for i in page_obj.paginator.page_range %}
                {% if i == page_obj.number %}
                    <li class="page-item active">
                        <span class="page-link">{{ i }}</span>
                    </li>
                {% elif i >= page_obj.number|add:'-2' and i <= page_obj.number|add:'2' %}
                    <li class="page-item">
                        <a 
                        class="page-link" 
                        href="{% url 'blog:home' %}?page={{ i }}&size={{ size_value }}"
                        hx-get="{% url 'blog:home' %}?page={{ i }}&size={{ size_value }}"
                        hx-push-url="true"
                        hx-target="#main-content"
                        >{{ i }}</a>
                    </li>
                {% elif i == 1 or i == page_obj.paginator.num_pages %}
                    <li class="page-item">
                        <a 
                        class="page-link" 
                        href="{% url 'blog:home' %}?page={{ i }}&size={{ size_value }}"
                        hx-get="{% url 'blog:home' %}?page={{ i }}&size={{ size_value }}"
                        hx-push-url="true"
                        hx-target="#main-content"
                        >{{ i }}</a>
                    </li>
                {% elif i == page_obj.number|add:'-3' or i == page_obj.number|add:'3' %}
                    <li class="page-item disabled"><span class="page-link">...</span></li>
                {% endif %}
            {% endfor %}

            <!-- Кнопка "Вперед" -->
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" 
                href="{% url 'blog:home' %}?page={{ page_obj.next_page_number }}&size={{ size_value }}" 
                hx-get="{% url 'blog:home' %}?page={{ page_obj.next_page_number }}&size={{ size_value }}" 
                hx-push-url="true"
                hx-target="#main-content"
                aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">&raquo;</span>
            </li>
            {% endif %}
        </ul>
    </nav>

    <!-- Выбор количества записей на странице -->
    <div class="col-md-2">
        <form action="" method="get" class="d-flex align-items-center">
            <input type="hidden" name="page" value="{{ page_obj.number }}">
            <label for="size" class="me-2">Size:</label>
            <input name="size" type="number" min="1" value="{{ size_value }}" class="form-control" onchange="this.form.submit()">
        </form>
    </div>
</div>
{% endif %}
