{% extends 'base.html' %}
{% load static %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Login</h2>
            <form 
            action="{% url 'users:login' %}" 
            method="post" 
            enctype="multipart/form-data"
            >
                {% csrf_token %}
                <p>
                    <label>{{ form.username.label }}</label>
                    {{ form.username.errors }}
                    {{ form.username }}
                </p>
                <p>
                    <label>{{ form.password.label }}</label>
                    {{ form.username.errors }}
                    {{ form.password }}
                </p>
                
                <p>You have an create account? 
                    <a href="{% url 'users:register' %}">Register</a>
                </p>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
        {% include 'components/latest_posts.html' %}
    </div>
</div>
{% endblock %}