{% extends 'base.html' %}

{% block title %}Log out{% endblock %}

{% block content %}
    <div class="container">
        <div>
        <div>
            <h1>Log out ?</h1><hr>
            <div>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <div class="mb-2 mt-3">
                        <button type="submit" class="btn btn-outline-danger">Yes</button>
                    </div>
                    <div class="mb-2 mt-3">
                        <a href="{% url 'home' %}">
                            <button class="btn btn-outline-secondary">No</button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
{% endblock %}